.footer-header {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	margin-bottom: 50px;
}

.footer-description {
	padding-top: 30px;
	color: var(--color-gray);
}

.footer-nav ul {
	display: flex;
	gap: 30px;
	list-style: none;
	padding: 0;
	margin: 0;
}

.footer-nav a {
	color: var(--color-black);
	font-size: 16px;
	font-weight: 500;
	transition: 0.3s ease;
}

.footer-divider {
	border: none;
	border-top: 1px solid var(--color-gray);
}

.footer-bottom {
	display: grid;
	grid-template-columns: 1fr auto 1fr;
	align-items: center;
	padding-top: 20px;
}

.footer-copyright {
	grid-column: 2;
	color: var(--color-gray);
	font-size: 16px;
	text-align: center;
}

.footer-copyright a {
	color: var(--color-orange);
}

.footer-socials {
	grid-column: 3;
	justify-self: end;
	display: flex;
	gap: 20px;
}

.footer-socials a {
	font-size: 18px;
}

@media (max-width: 1036px) {
	.footer-header {
		flex-direction: column;
		gap: 50px;
	}

	.footer-bottom {
		grid-template-columns: 1fr;
		gap: 20px;
		text-align: center;
	}

	.footer-copyright {
		grid-column: 1;
		order: 2;
	}

	.footer-socials {
		grid-column: 1;
		justify-self: center;
		order: 1;
	}
}

@media (hover:hover) {
	.footer-nav a:hover {
		color: var(--color-gray);
	}
}

@media (hover:none) {
	.footer-nav a:active {
		color: var(--color-gray);
	}
}
