.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 32px;
}

.hero {
  padding-inline: 10px;
  margin-top: 40px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.hero-content {
  padding-block: 50px;
  padding-inline: 50px;
  background-color: var(--color-surface-blue);
  border-radius: 30px 0 0 30px;
}

.hero-badge {
  display: inline-flex;
  align-items: center;
  gap: 13px;
  background-color: var(--color-white);
  border-radius: 30px;
  padding-block: 11px;
  padding-inline: 20px;
}

.hero-badge span {
  font-weight: bold;
  font-size: 14px;
}

.hero-title {
  font-size: clamp(2rem, 1.333rem + 2.96vw, 4rem);
  margin-top: 32px;
  margin-bottom: 24px;
}

.hero-description {
  color: var(--color-gray);
  font-size: 16px;
}

.hero-meta {
  display: flex;
  gap: 16px;
  margin-top: 30px;
}

.hero-meta-item {
  display: inline-flex;
  align-items: center;
  gap: 10px;
  padding-inline: 16px;
  padding-block: 8px;
  border-radius: 20px;
  background-color: var(--color-chip-background);
}

.hero-meta-item span {
  color: var(--color-gray);
}

.hero-footer {
  margin-top: 105px;
  display: flex;
  align-items: center;
  gap: 150px;
}

.hero-author {
  display: flex;
  gap: 16px;
}

.hero-author-image {
  border-radius: 50%;
}

.author-info {
  display: flex;
  flex-direction: column;
}

.author-name {
  font-size: 16px;
  font-weight: bold;
}

.author-info time {
  color: var(--color-gray);
}

.hero-button {
  display: inline-flex;
  align-items: center;
  gap: 15px;
  background-color: var(--color-black);
  padding-block: 18px;
  padding-inline: 37px;
  border-radius: 15px;
  transition: 0.3s ease;
}

.hero-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  border-radius: 0 40px 40px 0;
}

.hero-button span {
  color: var(--color-white);
}

.categories {
  padding-block: 160px;
}

.categories-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.categories-title {
  font-size: clamp(2rem, 1.667rem + 1.48vw, 3rem);
}

.categories-btn {
  background-color: var(--color-surface-blue);
  padding-block: 20px;
  padding-inline: 27px;
  border-radius: 16px;
  transition: 0.3s ease;
}

.categories-btn span {
  color: var(--color-black);
  font-weight: bold;
  font-size: 16px;
}

.categories-footer {
  padding-top: 80px;
}

.categories-list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: space-between;
}

.categories-item {
  padding-inline: 40px;
  border-radius: 16px;
}

.categories-item:nth-child(1) {
  background: var(--bg-category-breakfast);
}

.categories-item:nth-child(2) {
  background: var(--bg-category-vegan);
}

.categories-item:nth-child(3) {
  background: var(--bg-category-meat);
}

.categories-item:nth-child(4) {
  background: var(--bg-category-dessert);
}

.categories-item:nth-child(5) {
  background: var(--bg-category-lunch);
}

.categories-item:nth-child(6) {
  background: var(--bg-category-chocolate);
}

.categories-item-title {
  text-align: center;
  padding-top: 50px;
  padding-bottom: 30px;
}

@media (max-width: 1120px) {

  .hero-content {
    padding: 20px;
  }

  .hero-footer {
    gap: 15px;
  }
}

@media (max-width: 970px) {
  .hero {
    grid-template-columns: 1fr;
    padding-inline: 20px;
  }

  .hero-content {
    padding: 30px 20px;
    border-radius: 30px 30px 0 0;
  }

  .hero-title {
    text-align: center;
  }

  .hero-description {
    text-align: center;
  }

  .hero-meta {
    align-items: center;
    justify-content: center;
  }

  .hero-image {
    border-radius: 0 0 30px 30px;
  }

  .hero-footer {
    justify-content: center;
    margin-top: 40px;
    flex-wrap: wrap;
  }
}

@media (max-width: 768px) {
  .categories {
    padding-block: 100px;
  }
}

@media (max-width: 480px) {
  .categories-header {
    flex-direction: column;
    justify-content: center;
    gap: 15px;
  }

  .categories-list {
    justify-content: center;
  }
}

@media (hover: hover) {
  .hero-button:hover {
    transform: scale(1.1);
  }

  .categories-btn:hover {
    transform: scale(1.1);
  }
}

@media (hover:none) {
  .hero-button:active {
    transform: scale(1.1);
  }

  .categories-btn:active {
    transform: scale(1.1);
  }
}